*{
   margin: 0%; 
   padding: 0%;
   box-sizing: border-box;
   font-family: sans-serif;
}
.main{
   width: 100%;
   background-image: url(best\ background.JPG);
   background-position: center;
   background-size: cover;
   height: 117vh;
   position: relative;
   font-family: sans-serif;
  
}

.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;

}

.navbar .logo{
    width: 160px;
    cursor: pointer;
    margin-top: auto;
    margin-left: 5%;
}

ul{
    margin-top: -4%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: blue;
    margin-top: -3&S;
}
ul li a:hover{
    color: rgb(252, 152, 3);
}

.info{
    margin-left: 7%;
    margin-top: 6%;
    line-height: 85px;
}

.info h1{
    font-size: 40px;

    
}
.info h3{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
}

.info span{
    color: rgb(245, 148, 4);
}

.info a{
    text-decoration: none;
     color: rgb(0, 0, 0);
     margin: 26px 0;
     padding: 10px 0;
     border-radius: 10px;
     display: inline-block;
     transition: .4s ease;
}

.header{
    font-size: 45px;
    color: rgb(238, 116, 17);
    line-height: 30px;
    text-align: center;
    font-weight: 700;

}

.main3{
    width: 100%;
    background-image: url(best\ background.JPG);
    background-position: center;
background-size: cover;
}

.box{
    
 margin-left: 4%;  
 margin-top: 6%; 
 line-height: 30px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 text-align: justify;
 text-align: center;
 

}

.element{
    line-height: 35px;
    text-align: center;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin: 4%;
    
}

.mama{
    width: 150%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: left;
    justify-content: space-between;
    
}

.cesar{
    line-height: 40px;
    text-align: center;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin-left: 4%;
}

.dodo{
    line-height: 40px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin-left: 4%;
}
.dodo span{
    color: black;

}


.wood h1{
    font-size: 35px;
    line-height: 50px;
    text-align: center;
}

.wood h3{
    font-size: 25px;
    text-align: center;
    line-height: 45px;
}

.wood p{
    line-height: 35px;
    text-align: center;
}



.cheri{
    height: 50px;
    font-weight: 600;
    font-size: large;
    text-align: center;
}
.cheri ul{
    display: block;
    list-style-type: circle;
    padding-left: 40px;
}
.cheri li{
    display: list-item;
}
